/* =======================
    VARIABLES GLOBALES
======================= */
:root {
--color-primary: #A366FF;    /* violeta principal */
--color-secondary: #ff3b3b;  /* coral (botón SOS) */
--color-hover-button: #d62828;
--color-bg: #ffffff;
--color-bg-alt: #f7f7f8;
--color-text: #1c1c1c;
--color-gray: #5a5a5a;
--color-dark: #262626;

--radius: 50%;
--radius-btn: 999px;

--font-primary: 'Instrument Sans', sans-serif;

--shadow-soft: 0 2px 6px rgba(0, 0, 0, 0.1);
--shadow-strong: 0 4px 12px rgba(0, 0, 0, 0.15);

--transition: all 0.25s ease-in-out;
}

/* =======================
    RESETEO Y BASE
======================= */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: var(--font-primary);
background-color: var(--color-bg);
color: var(--color-text);
line-height: 1.5;
overflow-x: hidden;
}

a {
text-decoration: none;
color: inherit;
}

button {
font-family: inherit;
border: none;
cursor: pointer;
transition: var(--transition);
}

/* =======================
    CONTENEDORES Y LAYOUT
======================= */
.container {
max-width: 1200px;
margin: 0 auto;
padding: 1.5rem;
}

main {
padding: 2rem 1rem;
}

/* =======================
    TITULOS Y TEXTOS
======================= */
h1, h2, h3, h4 {
font-weight: 700;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.4rem; }

p {
color: var(--color-gray);
font-size: 1rem;
} 

/* =======================
    NAV BAR / FOOTER
======================= */
.header{
    height: 125px;
}

.navbar {
position: sticky;
display: flex;
justify-content: space-around;
align-items: center;
background: var(--color-primary);
padding: 1.2rem 0;
color: var(--color-bg);
}

.navbar ul{
list-style: none;
display: flex;
flex-direction: row;
align-items: center;

justify-content: space-between;
gap: 8rem;
}

.navbar a {
color: var(--color-bg);
transition: var(--transition);
font-size: 18px;
}

.navbar a:hover {
opacity: 0.8;
}

.nav-links img {
    margin-right: 5px;
    width: 15px; /* ajusta tamaño del logo */
    height: 15px;
}

#button-login{
    background-color: var(--color-secondary);
    color: var(--color-bg);
    height: 25px;
    width: 150px;
    border-radius: 20px;
    font-size: medium;
}

#button-login:hover{
    background-color: var(--color-hover-button);
}
